form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 8%;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: one;
    border-bottom: 1px solid #757575;
    border-radius: 50px;
    align-self: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 15px;
}

button {
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-left: auto;
    margin-right: auto;
}

input:focus { 
    outline: none; 
}